<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userInfoDAO">
	<resultMap type="com.sns.project.vo.userInfoVO" id="userInfoVO">
		<result property="userNum" column="USER_NUM"/>
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userCareer" column="USER_CAREER"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userAddr1" column="USER_ADDR1"/>
		<result property="userAddr2" column="USER_ADDR2"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="modifiedTime" column="MODIFIED_TIME"/>
		<result property="userPhoto" column="USER_PHOTO"/>
		<result property="friendNum" column="FRIEND_NUM"/>
		<result property="friendDate" column="FRIEND_DATE"/>
		<result property="friendRe" column="FRIEND_RE"/>
		<result property="friendSe" column="FRIEND_SE"/>
	</resultMap>
	
	<select id="userLogin" resultType="Integer">
		SELECT COUNT(*)
		FROM SNS_USERINFO
		WHERE USER_EMAIL = #{userEmail}
		    AND USER_PW = #{userPw}
	</select>
	
	<select id="userProfile" resultMap="userInfoVO">
		SELECT USER_NAME, USER_CAREER, USER_PHONE, USER_EMAIL, USER_PHOTO
		FROM SNS_USERINFO
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<update id="userProfileUpdate">
		UPDATE SNS_USERINFO
		SET  USER_CAREER = #{userCareer}
   			,USER_PHONE = #{userPhone}
   			<if test="userPhoto != null">
   			,USER_PHOTO = #{userPhoto}
   			</if>
   			,MODIFIED_TIME = SYSDATE
		WHERE USER_EMAIL = #{userEmail}
	</update>
	
	<select id="userEmailCheck" resultType="Integer">
		SELECT COUNT(*)
		FROM SNS_USERINFO
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<insert id="userRegister">
		<selectKey keyProperty="userNum" order="BEFORE" resultType="String">
			SELECT NVL(MAX(USER_NUM),0)+1 AS "USER_NUM" FROM SNS_USERINFO
		</selectKey>
			INSERT INTO SNS_USERINFO(USER_NUM, USER_EMAIL, USER_PW, USER_NAME, USER_CAREER, USER_PHONE,CREATE_TIME, MODIFIED_TIME,USER_PHOTO) 
			VALUES (
					 #{userNum}
				    ,#{userEmail}
				    ,#{userPw}
				    ,#{userName}
				    ,#{userCareer}
				    ,#{userPhone}
				    ,sysdate
				    ,null
				    ,null
				   )
	</insert>
	
	<select id="searchUserEmail" resultType="String">
		SELECT USER_EMAIL
		FROM SNS_USERINFO
		WHERE USER_NAME = #{userName} AND USER_PHONE = #{userPhone}
	</select>
	
	<select id="autNumCilck" resultType="Integer">
		SELECT COUNT(*)
		FROM SNS_USERINFO
		WHERE USER_PHONE = #{userPhone} AND USER_EMAIL = #{userEmail}
	</select>
	
	<update id="userPwReple">
		UPDATE SNS_USERINFO
		SET USER_PW = #{userPw}
		WHERE USER_PHONE = #{userPhone} AND USER_EMAIL = #{userEmail}
	</update>
	
	<select id="friendList" resultMap="userInfoVO">
		SELECT B.FRIEND_SE,(SELECT USER_NAME
                    		FROM SNS_USERINFO
                   			 WHERE USER_EMAIL = B.FRIEND_SE) AS "USER_NAME"
                  		  ,(SELECT USER_PHOTO
                    		FROM SNS_USERINFO
                    		WHERE USER_EMAIL = B.FRIEND_SE) AS "USER_PHOTO"
                    	  ,(SELECT USER_NUM
                    		FROM SNS_USERINFO
                    		WHERE USER_EMAIL = B.FRIEND_SE) AS "USER_NUM"
		FROM SNS_USERINFO A, SNS_FRIEND B
		WHERE A.USER_EMAIL = B.FRIEND_RE AND B.FRIEND_RE = #{userEmail}
	</select>
	
	<select id="follow_user" resultMap="userInfoVO">
		SELECT USER_NUM, USER_NAME, USER_PHONE, USER_CAREER, USER_PHOTO, USER_EMAIL
		FROM SNS_USERINFO
		WHERE USER_NUM = #{userNum}
	</select>
</mapper>